.App-header {
  text-align: center;
  background-color: #0090ff;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  line-height: 60px;
  margin: 0;
}

.App-content {
  min-height: 100%;
  width: 1024px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
}